/01_BasicJava/*
!/01_BasicJava/workspace
/01_BasicJava/workspace/.metadata

/03_HighJava/*
!/03_HighJava/workspace
/03_HighJava/workspace/*

!/03_HighJava/workspace/ChoboProject
/03_HighJava/workspace/ChoboProject/*
!/03_HighJava/workspace/ChoboProject/src
!/03_HighJava/workspace/ChoboProject/res
!/03_HighJava/workspace/ChoboProject/WebContent

!/03_HighJava/workspace/collectionTest
/03_HighJava/workspace/collectionTest/*
!/03_HighJava/workspace/collectionTest/src

!/03_HighJava/workspace/enumTest
/03_HighJava/workspace/enumTest/*
!/03_HighJava/workspace/enumTest/src

!/03_HighJava/workspace/GreenTest
/03_HighJava/workspace/GreenTest/*
!/03_HighJava/workspace/GreenTest/src
!/03_HighJava/workspace/GreenTest/res
!/03_HighJava/workspace/GreenTest/WebContent

/03_HighJava/workspace/javaDocTest
/03_HighJava/workspace/javaDocTest/*
!/03_HighJava/workspace/javaDocTest/src
!/03_HighJava/workspace/javaDocTest/doc

!/03_HighJava/workspace/javaIOTest
/03_HighJava/workspace/javaIOTest/*
!/03_HighJava/workspace/javaIOTest/src

!/03_HighJava/workspace/javaNetwork
/03_HighJava/workspace/javaNetwork/*
!/03_HighJava/workspace/javaNetwork/src

!/03_HighJava/workspace/jdbcBoardTest
/03_HighJava/workspace/jdbcBoardTest/*
!/03_HighJava/workspace/jdbcBoardTest/src
!/03_HighJava/workspace/jdbcBoardTest/res

!/03_HighJava/workspace/jdbcTest
/03_HighJava/workspace/jdbcTest/*
!/03_HighJava/workspace/jdbcTest/src
!/03_HighJava/workspace/jdbcTest/res

!/03_HighJava/workspace/loggingTest
/03_HighJava/workspace/loggingTest/*
!/03_HighJava/workspace/loggingTest/src
!/03_HighJava/workspace/loggingTest/res

!/03_HighJava/workspace/mvcTest
/03_HighJava/workspace/mvcTest/*
!/03_HighJava/workspace/mvcTest/src
!/03_HighJava/workspace/mvcTest/res

!/03_HighJava/workspace/MybatisBoardTest
/03_HighJava/workspace/MybatisBoardTest/*
!/03_HighJava/workspace/MybatisBoardTest/src
!/03_HighJava/workspace/MybatisBoardTest/res

!/03_HighJava/workspace/MybatisMvcTest
/03_HighJava/workspace/MybatisMvcTest/*
!/03_HighJava/workspace/MybatisMvcTest/src
!/03_HighJava/workspace/MybatisMvcTest/res

!/03_HighJava/workspace/mybatisTest
/03_HighJava/workspace/mybatisTest/*
!/03_HighJava/workspace/mybatisTest/src
!/03_HighJava/workspace/mybatisTest/res

!/03_HighJava/workspace/threadTest
/03_HighJava/workspace/threadTest/*
!/03_HighJava/workspace/threadTest/src

!/03_HighJava/workspace/webMemberTest
/03_HighJava/workspace/webMemberTest/*
!/03_HighJava/workspace/webMemberTest/src
!/03_HighJava/workspace/webMemberTest/res
!/03_HighJava/workspace/webMemberTest/WebContent

!/03_HighJava/workspace/webTest
/03_HighJava/workspace/webTest/*
!/03_HighJava/workspace/webTest/src
!/03_HighJava/workspace/webTest/res
!/03_HighJava/workspace/webTest/WebContent

/05_JQuery/*

!/05_JQuery/webpro
/05_JQuery/webpro/*
!/05_JQuery/webpro/src
!/05_JQuery/webpro/WebContent

!/05_JQuery/jqpro
/05_JQuery/jqpro/*
!/05_JQuery/jqpro/src
!/05_JQuery/jqpro/res
!/05_JQuery/jqpro/WebContent

!/05_JQuery/boardpro
/05_JQuery/boardpro/*
!/05_JQuery/boardpro/src
!/05_JQuery/boardpro/res
!/05_JQuery/boardpro/WebContent

/07_Python/*
!/07_Python/workspace_python/
/07_Python/workspace_python/*

!/07_Python/workspace_python/HELLO_JAVA
/07_Python/workspace_python/HELLO_JAVA/*
!/07_Python/workspace_python/HELLO_JAVA/src

!/07_Python/workspace_python/HELLO_PYTHON
!/07_Python/workspace_python/HELLO_WEB

/Spring/*
!/Spring/*
/Spring/workspace/*

!/Spring/workspace/LanguageLab

!/Spring/workspace/WebStudy01

!/Spring/workspace/WebStudy02