/01_BasicJava/*
!/01_BasicJava/workspace
/01_BasicJava/workspace/*
!/01_BasicJava/workspace/BasicJava
/01_BasicJava/workspace/BasicJava/*
!/01_BasicJava/workspace/BasicJava/src

!/01_BasicJava/workspace/FreeBoard
/01_BasicJava/workspace/FreeBoard/*
!/01_BasicJava/workspace/FreeBoard/src

!/01_BasicJava/workspace/JavaProject_BOOK
/01_BasicJava/workspace/JavaProject_BOOK/*
!/01_BasicJava/workspace/JavaProject_BOOK/src

!/01_BasicJava/workspace/JavaProject_BOOK2
/01_BasicJava/workspace/JavaProject_BOOK2/*
!/01_BasicJava/workspace/JavaProject_BOOK2/src

!/01_BasicJava/workspace/JavaProject_FREEBOARD
/01_BasicJava/workspace/JavaProject_FREEBOARD/*
!/01_BasicJava/workspace/JavaProject_FREEBOARD/src

!/01_BasicJava/workspace/JavaProject_PROD
/01_BasicJava/workspace/JavaProject_PROD/*
!/01_BasicJava/workspace/JavaProject_PROD/src

!/01_BasicJava/workspace/JavaProject_PROJECT
/01_BasicJava/workspace/JavaProject_PROJECT/*
!/01_BasicJava/workspace/JavaProject_PROJECT/src

!/01_BasicJava/workspace/JavaProject_Sample
/01_BasicJava/workspace/JavaProject_Sample/*
!/01_BasicJava/workspace/JavaProject_Sample/src

/03_HighJava/*
!/03_HighJava/workspace
/03_HighJava/workspace/*
!/03_HighJava/workspace/collectionTest
/03_HighJava/workspace/collectionTest/*
!/03_HighJava/workspace/collectionTest/src

!/03_HighJava/workspace/enumTest
/03_HighJava/workspace/enumTest/*
!/03_HighJava/workspace/enumTest/src

!/03_HighJava/workspace/javaIOTest
/03_HighJava/workspace/javaIOTest/*
!/03_HighJava/workspace/javaIOTest/src

!/03_HighJava/workspace/threadTest
/03_HighJava/workspace/threadTest/*
!/03_HighJava/workspace/threadTest/src

!/03_HighJava/workspace/javaNetwork
/03_HighJava/workspace/javaNetwork/*
!/03_HighJava/workspace/javaNetwork/src

/05_JQuery/*
!/05_JQuery/webpro
/05_JQuery/webpro/*
!/05_JQuery/webpro/WebContent
/05_JQuery/webpro/WebContent/META-INF/*
/05_JQuery/webpro/WebContent/WEB-INF/*

!/05_JQuery/jqpro
/05_JQuery/jqpro/*
!/05_JQuery/jqpro/WebContent
/05_JQuery/jqpro/WebContent/META-INF/*
/05_JQuery/jqpro/WebContent/WEB-INF/*