<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <typeAlias type = "kr.or.ddit.board.vo.MemberVo" alias = "MemberVo"/> -->
<mapper namespace = "MyMem">
	<select id = "getMemberCount" parameterType = "String" resultType = "int">
		select count(*) cnt from mymember 
		where mem_id = #{mem_id}
	</select>
	
	<insert id = "insertMember" parameterType = "MemberVo">
		insert into mymember (mem_id, mem_pass, mem_name, mem_tel, mem_addr)
		values (#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr})
	</insert>
	
	<delete id = "deleteMember" parameterType = "String">
		delete from mymember where mem_id = #{mem_id}	
	</delete>
	
	<update id = "updateMember" parameterType="MemberVo">
		update mymember set 
							mem_pass = #{mem_pass},
							mem_name = #{mem_name},
							mem_tel = #{mem_tel},
							mem_addr = #{mem_addr}
		where mem_id = #{mem_id}
	</update>
	
	<select id = "getAllMember" resultType = "MemberVo">
		select * from mymember
	</select>
	
	<update id = "updateMember2" parameterType="Map">
		update mymember 
		   set ${fieldName} = #{data}
		where mem_id = #{memberID}
	</update>
</mapper>