<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace = "member">
	<select id="getMember" parameterType="string" resultType="MemVo">
		select * from mymember where mem_id=#{mem_id}
	</select>
	
	<select id = "getAllMember" resultType = "MemVo">
		select * from mymember
	</select>
	
	<insert id = "insertMember" parameterType = "MemVo">
		insert into mymember(mem_id, mem_pass, mem_name, mem_tel, mem_addr, mem_photo)
		values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_tel}, #{mem_addr},  #{mem_photo})
	</insert>
	
	<select id = "MemberIdChk" parameterType = "String" resultType = "int">
		select count(*) from mymember where mem_id = #{mem_id}
	</select>
	
	<select id = "MemberDetail" parameterType = "String" resultType = "MemVo">
		select * from mymember where mem_id = #{mem_id}
	</select>
	
	<update id = "updateMember" parameterType = "MemVo">
		update mymember set mem_pass = #{mem_pass}, mem_name = #{mem_name},
		mem_tel = #{mem_tel}, mem_addr = #{mem_addr}, mem_photo = #{mem_photo}
		where mem_id = #{mem_id}
	</update>
	
	<delete id = "deleteMember" parameterType = "String">
		delete from mymember where mem_id = '${mem_id}'
	</delete>
</mapper>